/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Global variables */
:root {
    --main-color: #492F33;
    --secondary-color: burlywood;
    --primary-font-color: #292028;
    --secondary-font-color: #CFA383;

    /* Fonts */
    --global-font: 'Quicksand', sans-serif;

    /* Font sizes */
    --title-size: 5rem;
    --subtitle-size: 2.5rem;
    --global-size: 2rem;

}

body {
    font-family: var(--global-font);
    color: var(--primary-font-color);
    background-color: var(--main-color);
}

#main {
    margin: 10px 10px;
    padding: 15px;
    text-align: center;
    background-color: burlywood;
    border-radius: 5px;
}

/* Title styles */
.title {
    font-size: var(--title-size);
}

.title ~ p {
    font-size: var(--subtitle-size);
}

/* Picture styles */
#img-container {
    padding: 20px;
    font-size: var(--global-size);
    color: var(--secondary-font-color);
    background-color: var(--main-color);
    border-radius: 5px;
}

#img-container img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    border-radius: 5px; 
}

#img-caption {
    margin: 15px 0 5px 0;
}

#headline {
    margin: 50px 0;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: start;
    line-height: 2;
}

li {
    margin: 16px 0;
}

a {
    color: #492F33;
}
a:visited, a:active{
    color: #492F33;
}

#quote {
    font-style: italic;
    font-weight: bold;
    max-width: 545px;
    margin: 0 auto 50px auto;
}

@media (max-width: 360px) {
    #title {
        font-size: 2rem;
    }
}