// Colors
$dark-brown: #492F33;
$burlywood: #deb887;

// Typography
$primary-font: 'Quicksand', sans-serif;

$lg-font: 5rem;
$md-font: 2.5rem;
$sm-font: 2rem;

$mobile-sm-font: 1.5rem;
$mobile-lg-font: 1.6rem;

$primary-font-color: #292028;
$secondary-font-color: #CFA383;

// General resets
* {
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: $primary-font;
    color: $primary-font-color;
    background-color: $dark-brown;
}
ul {
    list-style: none;
}
a {
    color: $primary-font-color;
}
a:visited, a:active{
    color: $primary-font-color;
}