/* Reset and basics */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
html {
    font-size: 62.5%;
}

/* Variables */
:root {
    /* Colors */
    --main-color: #492F33;
    --secondary-color: burlywood;
    --primary-font-color: #292028;
    --secondary-font-color: #CFA383;

    /* Fonts */
    --global-font: 'Quicksand', sans-serif;

    /* Font sizes */
    --title-size: 5rem;
    --subtitle-size: 2.5rem;
    --global-size: 2rem;
}

/* Body styles */
body {
    font-family: var(--global-font);
    color: var(--primary-font-color);
    background-color: var(--main-color);
}

/* Container styles */
.main-container {
    margin: 10px 10px;
    padding: 15px;
    text-align: center;
    background-color: burlywood;
    border-radius: 5px;
}

/* Header styles */
.title {
    font-size: var(--title-size);
}

.title ~ p {
    font-size: var(--subtitle-size);
}

/* Figure picture styles */
.img-container {
    padding: 20px;
    font-size: var(--global-size);
    color: var(--secondary-font-color);
    background-color: var(--main-color);
    border-radius: 5px;
}

.img-container img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

.img-caption {
    margin: auto;
}

/* Analyzing songs' section styles */
.tribute-info h3 {
    margin: 50px 0;
    font-size: var(--global-size);
}

.tribute-info ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: start;
    line-height: 2;
}

.tribute-info li {
    margin: 14px 10px;
    font-size: var(--global-size);
}

/* Quote and link to Spotify styles */
.blockquote {
    margin: 0 auto 50px auto;
    font-style: italic;
    font-weight: bold;
    font-size: var(--subtitle-size);
}

a {
    color: #492F33;
}

a:visited, a:active{
    color: #492F33;
}

/* Responsive typography */
@media (max-width: 360px) {
    .title {
        font-size: 2rem;
    }
}